<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Add category</title>
</head>

<body>
    <header class="p-3">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

                </ul>

                <div sec:authorize="isAnonymous()" class="text-end">
                    <form th:action="@{/login}" method="post" style="display: inline-block;">
                        <input type="submit" value="Login" class="btn btn-info" />
                    </form>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
                <div sec:authorize="isAuthenticated()" class="text-end">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <form th:object="${topic}" th:action="@{edittopic}" action="#" method="post">
            <input type="hidden" th:field="*{topicid}">
            <div class="form-group">
                <label for="header" class="form-label">Topic title</label>
                <input type="text" class="form-control" id="header" th:field="*{header}" placeholder="Enter title"
                    th:maxlength="255" required />
            </div>
            <input type="hidden" th:field="*{category.categoryid}">
            <input type="submit" value="Edit Topic" class="btn btn-primary">
            <button onclick="history.back()" class="btn btn-light">Cancel</button>
        </form>
    </div>
</body>

</html>